/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, white, lightgray);
}

/* Heading (H1) Styles */
h1 {
    color: darkblue;
    padding: 8px;
    text-shadow: 5px 5px 6px gray;
}

/* Paragraph (Lyrics) Styles */
p {
    color: white;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    background: linear-gradient(to bottom right, darkblue, skyblue);
    box-shadow: 5px 5px 6px gray;
    border-radius: 5px;
}

/* Special Styling (5th Paragraph) */
p:nth-child(5) {
    background: revert;
    box-shadow: revert;
    padding: revert;
}

a {
    font-size: 12px;
}